@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,
            #9b34ef 0%,
            #490cb0 20%,
            transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
            #5516ba,
            rgba(255, 0, 229, 0.5) 80%);
    --bg-subscribe-color: linear-gradient(120deg, #b535f6, #020228, #ff00e5);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway";
    background: var(--primary-color);
}

/*****************
HEADER 
*****************/

@media screen AND (max-width: 420px) {
    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: var(--nav-bg-color);
    }

    .header img {
        max-width: 30%;
        width: auto;
        padding: 1em 0 1.5em 0;
    }

    .header ul {
        margin: 5px 0 10px 0;
    }

    .header ul>li {
        display: inline;
        list-style: none;
    }

    .header ul li a {
        text-decoration: none;
        padding: 8px 26px;
        color: white;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
    }

    #buy-now {
        background-color: var(--tertiary-color);
        border-radius: 20px;
        transition: 1s;
    }

    #buy-now:hover {
        background-color: #FFF;
        color: var(--primary-color);
    }

    main {
        background-color: #000;
    }

    .container {
        padding: 0 10%;
        padding-top: 50px;

        text-align: center;
        color: #FFFFFF;
    }

    .container .images {
        padding-bottom: 5em;
    }

    .container h2 {
        margin: 10px;
        text-transform: uppercase;
        font-size: 32px;
    }

    .container h1 {
   
        text-transform: uppercase;
        font-size: 42px;
    }

    .divider {
        width: 100%;
        height: 5px;
        margin: 30px 0;
        background: var(--divider-bg-color);
    }

    .subscribe p {
        font-size: 20px;
    }

    .subscribe p > span {
        font-size: 40px;
    }

    .subscribe button {
        margin: 25px;
        padding: 12px 40px;
        border: none;
        border-radius: 20px;

        color: #FFF;
        font-size: 16px;
        text-transform: uppercase;

        background: var(--btn-bg-color-gradient);
    }
}